
#########################
# Discord API key
#########################

# Primary key
DISCORD_API_KEY="insert_discord_api_key_here"

########################
# Databases
########################

# Database directory
# This is where the three databases live:
# 
# server database - a lightweight mapping of server names and ids with 
#    user names, ids, and nicknames foreign keyd so we can look up without
#    hitting the discord API
# recall database - a log of all messages that the bot has ever seen in 
#    any channels that she's in, along with meta information including
#    author, tags, and summary if the message is long
# 
DB_DIR="data/prod/"
SERVER_DB_NAME="server.db"
RECALL_DB_NAME="recall.db"


#########################
# AI models
#########################

# This is a constant work in progress.  I am working on finding more appropriate models
# while attempting to balance against my vram constraints.

# "big" models
#    This is the models that need to be more capable, think deeper, and understand more
# 
# Brain - the main model for personality and casual conversation
# Bouncer - the model that handles pre-conversation tasks, like deciding if the bot should
#    respond or use a tool.
#
BRAIN_MODEL="hf.co/unsloth/Mistral-Small-3.2-24B-Instruct-2506-GGUF:UD-Q4_K_XL"
BOUNCER_MODEL="hf.co/unsloth/Mistral-Small-3.2-24B-Instruct-2506-GGUF:UD-Q4_K_XL"

# "small" models
#    Running these on a "smaller" instruct model is the "correct" way, but
#    it does cause vram thrashing as I can't hold <current brain pick> and <small model> in vram
#    at the same time.  
#    So we're gonna try using the big model for everything (except the embedding vectorization)
#
# Tagger - provides tags to send to the chat log database
# Summarizer - provides summaries of chat messages sent to the chat log database, if length
#    exceeds SUMMARIZE_THRESHOLD (below)
# Vision - allows bot to "see" posted images in chat.  Currently using the "big"
#    model as it's multi-modal, but in the future could change to something more appropriate
#
TAGGER_MODEL="hf.co/unsloth/Mistral-Small-3.2-24B-Instruct-2506-GGUF:UD-Q4_K_XL"
SUMMARIZER_MODEL="hf.co/unsloth/Mistral-Small-3.2-24B-Instruct-2506-GGUF:UD-Q4_K_XL"
VISION_MODEL="hf.co/unsloth/Mistral-Small-3.2-24B-Instruct-2506-GGUF:UD-Q4_K_XL"
EMBED_MODEL="mxbai-embed-large"


######################
# AI Settings
######################

# Temperatures
#    1.0 = neutral, higher = more creative/weird. Start at 1.1, tune from there.
#
# Brain temperature should probably be somewhere around 1, or else she starts sounding either
#    really boring and robotic (low) or completely unhinged and divorced from reality (high)
#
BRAIN_TEMPERATURE=0.8

# Other temperatures: should be low or zero to make outputs more deterministic and trustworthy
#
BOUNCER_TEMPERATURE=0.1
TAGGER_TEMPERATURE=0.1
SUMMARIZER_TEMPERATURE=0.1

# Token settings:
#
# Max tokens per response
#    Discord hard limit is ~2000 chars
#    Lower keeps Sandy concise.
#
BRAIN_NUM_PREDICT=256

# Context window. 
#    Ollama defaults to 2048 regardless of model capability, so we need to set explicitly
#
BRAIN_NUM_CTX=16384


#####################
# Misc settings
#####################

# Pre-Warm model
#    Set these if you want the bot to put a model into vram when it loads
#    If you do want to warm a model, the bouncer model probably makes most sense
#
PREWARM_MODEL="True"
PREWARM_MODEL_NAME="${BOUNCER_MODEL}"

# Ollama keep-alive
#    How long ollama keeps models loaded in VRAM after the last request.
#    Default is 5m
#
OLLAMA_KEEP_ALIVE=1h
    
# Summarizing threshold
#    Messages longer than this many characters will additionally be summarized
#    before they are sent to the chat logging system
#
SUMMARIZE_THRESHOLD=450

# SearXNG
#    Used for the bot to be able to look things up on the internet.
#    SearXNG is run as a docker container - see searxng/ for a 
#    docker-compose file and configs.
#
SEARXNG_HOST=127.0.0.1
SEARXNG_PORT=8888
