use_default_settings:
  engines:
    keep_only:
      - braveapi

search:
  formats:
    - html
    - json
server:
  secret_key: "your-secret-key-that-isnt-actually-used"
  limiter: false

engines:
  - name: braveapi
    engine: braveapi
    shortcut: br
    inactive: false
    disabled: false
    api_key: "BRAVE-API-KEY-GOES-HERE"
